.landing{
    background-image: url("../../Assets/image.png");
    background-repeat: no-repeat;
    background-size: cover; 
    height:430px;
    display: flex;
    flex-direction: column;
    color:#FFA800;
    padding:240px 20px 20px;
}

.landing__header{
    display: flex;
    margin:0px;
    align-items: flex-end;
}

.landing__header h1{
    display: inline-block;
    font-size:74px;
    font-weight: 500;
}

.landing__header h3{
    display: inline-block;
    font-size:28px;
    padding-bottom: 20px;
    font-weight: 500;
}

.landing__information{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing__information a{
    box-sizing: border-box;
    color:white;
    background-color: #FFA800;
    padding:12px 19px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.landing__information img{
    width:60px;
}