

.landing{
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
}

.landing__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom:auto;
    padding:0px 20px 20px 20px;
}

.header__image{
    display:flex;
    align-items: center;
    margin-top:auto;
    margin-bottom:auto;
    align-content: center;
}

.header__text{
    display: flex;
    flex-direction: column;
    margin:0px;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.landing__header h1{
    display: inline-block;
    font-size:40px;
    text-align: left;
    font-weight: 500;
    margin:0;
    flex-wrap: nowrap;
    color:#FFA800;
    margin-top:-9px;
}

.landing__header h3{
    display: inline-block;
    font-size:17px;
    text-align: left;
    font-weight: 500;
    margin:0;
}

.landing__header h3 em{
    color:#FFA800;
}

.landing__information {
    background: url("src/assets/jffooter.png");
    background-size: cover;
    overflow: hidden;
    height:125px;
}

.information__images{
    display: flex;
    gap: 10px;
    padding: 0px 20px;
    animation: slide 20s linear infinite;
}

.information__imagestwo{
    display: flex;
    gap: 10px;
    padding: 0px 20px;
    animation: slideReverse 30s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes slideReverse {
    100% {
        transform: translateX(0%);
    }
    0% {
        transform: translateX(-200%);
    }
}

.landing__information img {
    width: 30%;
    height: auto; /* Let the height adjust automatically */
    aspect-ratio: 1; /* Maintain 1:1 aspect ratio */
    object-fit: cover; /* Crop the image to fit the aspect ratio without distortion */
    border-radius: 10px;
    filter: grayscale(100%) brightness(0.6);
}

.landing__information a{
    box-sizing: border-box;
    color:white;
    background-color: #FFA800;
    padding:8px 15px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
}

.landing__header img{
    width:90px;
}